body {
    margin: 0;
    padding: 0;
    background: #004f92;
    color: #fff;
    font-size: 14px;
    width: auto;
    height: auto;
    background-image: url(../img/bg04.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

*,
body {
    font-family: Roboto, sans-serif;
}

.error-message {
    color: purple;
}

.incorrect-value {
    color: red;
}

.correct-value {
    color: green;
}