body {
    margin: 0;
    padding: 0;
    background: #004f92;
    color: #fff;
    font-size: 14px;
    width: auto;
    height: auto;
    background-image: url(../img/bg04.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

*,
body {
    font-family: Roboto, sans-serif;
}

.error-message {
    color: purple;
}

.incorrect-value {
    color: red;
}

.correct-value {
    color: green;
}

/* ALINEACION */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr 1fr;
    grid-template-areas:
        ". . ."
        ". header ."
        ". main ."
        ". . .";
}

.header-containter {
    grid-area: header;
    display: flex;
    justify-content: center;
}

.main-container {
    grid-area: main;
    display: flex;
    justify-content: center;
}

.header-h1 {
    align-self: center;
    text-align: center;
}

.main-container-item {
    align-self: center;
}

/* ESTILO BOTON */
.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
}

.button1:hover {
    background-color: white;
    color: black;
}

/* ESTILO INPUT */
.input-text {
    height: 48px;
    font-size: 20px;
}